.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    max-height: 70%;
    padding-top: 1vw;
}
.center-text {
    text-align: center;
    font-size:3vw;
}
a:link{color:inherit}
a:active{color:inherit}
a:visited{color:inherit}
a:hover{color:inherit}

.main {
    height: 100%;
    width:100%;
}

/* min: 576px min: 768px min: 992px min: 1200px */

/* for width 576px and larger: */
@media only screen and (min-width: 576px) {
    .center-text {
        font-size:3vw;
    }
}

/* for width 768px and larger: */
@media only screen and (min-width: 768px) {
    .center-text {
        font-size:2vw;
    }
}

/* for width 992px and larger: */
@media only screen and (min-width: 992px) {
    .center-text {
        font-size:1.5vw;
    }
}

/* for width 1200px and larger: */
@media only screen and (min-width: 1200px) {
    .center-text {
        font-size:1.1vw;
    }
}